<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Jessi Chartier</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stacy Sniegowski</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fiaz Sami</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Don Bora</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ben Bueltmann</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Michael Meinberg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Evan Vandenberg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nader Neyzi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jess Grainger</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Craig Karpiak</string>
	</dict>
</array>
</plist>
